/* @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.507);
    transition: 0.3s;
    border-radius: 1vw;
    width: 320px;
    cursor: pointer;
    margin: 2vh 1.2vw;
    position: relative;
    background-color: #ffffff;
}
.img{
border-radius: 0.9vw 0.9vw  0vw 0vw;
width: 100%;
max-height: 30vh;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.842);

    
}

.container{
    font-family: 'Roboto Slab', serif;
    padding: 2px 6px 16px 16px;
    color: #000000;
    
}

.outercontainer{
    display: flex;
    flex-wrap: wrap;
    /* background-color: #113d47; */
    justify-content:center;
    
}

.source{
    border: 1px solid #cb5858;
    text-shadow: #000000;
    border-radius: 1vw;
    padding: 0.2vw 0.6vw;
    display: inline;
    background-color:#cb5858;
    color:#eef7fa;
    position: absolute;
    right: 0vw;
    top: -0.6vw;
}
